<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>hw1</title>
</head>
<body>
    <header class="flex">
        <div class="container flex">
            <h1 class="blue">Book Component By Function</h1>
        </div>
    </header>
    <main class="flex">
        <div class="container ">

            <h2 class="blue">By Kyle Simpson</h2>
         <div class="main-text">
           <p> Parts of the language that many JavaScript programmers simply avoid</p>
         </div>   

        </div>
    </main>
    <footer class="flex">
        <div class="end">
            <h3 class="blue">2021 Tania, Alsu and Tsach</h3>
        </div>
    </footer>
</body>
</html>