<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
    
</head>
<body>
    <h1>Title2serweet</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nihil sapiente rem vel sit officiis recusandae similique at vero consequuntur debitis, eveniet et distinctio soluta maiores exercitationem, eligendi numquam quos hic! Aliquid deleniti consectetur nostrum eaque voluptates asperiores neque quasi distinctio, atque animi esse cum et nam nemo assumenda quod maiores perspiciatis dignissimos! Impedit voluptatibus dolorem inventore dolore fuga quia animi aliquam numquam possimus ad cum est necessitatibus natus qui reiciendis voluptas quos perferendis earum, culpa repellendus quidem unde, vel mollitia tempora. Architecto neque sequi voluptatibus. Id iusto officiis itaque neque ipsum mollitia praesentium molestiae dignissimos, ducimus, beatae, quasi voluptate?</p>
</body>
<script>
    console.log(__dirname);
    console.log("sdfsdfsdf")
</script>
</html>