<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../assets/css/style.css">
	<script defer src="../assets/js/main.js"></script>
	<title>Form</title>
</head>
<body>
	<header>
		<div class="container header__wrap d-flex g2 pt3">
			<a href="/">Home</a>
			<a href="templates/form.html">Form</a>
		</div>
	</header>
	<h1 class="accent">Form page</h1>
	<div class="container form__wrap">
		<form action="" method="post" class="d-flex jcsb f-wrap">
			<input type="text" name="userName" id="userName" placeholder="Name:">
			<input type="text" name="userLastName" id="userLastName" placeholder="Lastname:">
			<input type="text" name="userPhone" id="userPhone" placeholder="Phone:">
			
			<input type="submit" value="Send" id="BtnForm">
		</form>
		<div class="response mt2"></div>
	</div>
	
	

	
	<!--  -->
</body>
</html>