
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculate Form</title>
</head>

<body>
  <h1>Calculate Form</h1>

  <h2>Sending By POST Method</h2>
  <form action="/result" method="POST">
    <p> <label> x <input type="text" name="x_num"></label></p>
    <p> <label> y <input type="text" name="y_num"></label></p>
    <button type="submit">Send</button>
  </form>
</body>

</html>