
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Submitting Form</title>
</head>

<body>
  <h1>Submitting Form</h1>
  <h2>Sending By Get Method</h2>
  <form action="/message" method="GET">
    <p> <label> Message <input type="text" name="message"></label></p>
    <p> <label> Number <input type="number" name="number"></label></p>
    <button type="submit">Send</button>
  </form>

  <h2>Sending By POST Method</h2>
  <form action="/message" method="POST">
    <p> <label> Message <input type="text" name="message1"></label></p>
    <p> <label> Message <input type="text" name="message2"></label></p>
    <p> <label> Number <input type="number" name="number"></label></p>
    <button type="submit">Send</button>
  </form>
</body>

</html>
index.html
המערכת מציגה את index.html.