<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../templates/css/index.css">
    
</head>

<body>
    <header class="container">
        <h1>Book Component By Function</h1>
    </header>
    <div class="main">
        <div class="mid">
            <div class="top rel p04">
                <div class= "black">
                    overlly
                </div>
                <div class="lorem pt2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, fuga?</div>
                <p class="autor">KYLE SIMPSON</p>
            </div>
            <div class="white p04">
                SCOPE & CLOSURES
            </div>
            <div class="yellow p04">
                <div>
                    <div class="rel reverse">J</div>S
                </div>
            </div>
        </div>
       
        <h2 class="h2">By Kyle Simpson</h2>
        
    </div>
    <footer class="container">
        <div class="botton-text pt2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore alias impedit id nulla illum ad officia fugit! Itaque ea nostrum et officia</div>
        <div class="h2 pt2">&copy; 2022 Tanya</div>
    </footer>
    
</body>
</html>