<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/style.css">
  <script defer type="module" src="../assets/js/check.js"></script>
  <script defer type="module" src="../assets/js/main.js"></script>
  <script defer type="module" src="../assets/js/func.js"></script>
  <title>Admin</title>
  <script defer type="module" src="../assets/js/func.js"></script>
</head>

<body>
  <header>
    <div class="container header__wrap d-flex jcsb g2 pt3">
      <div class="left">
        <a href="/">Home</a>
        <a href="../templates/class.html">Class</a>
      </div>
      <div class="right">
        <a href="#" id="Exit">Exit</a>
      </div>
    </div>
  </header>
  <div class="main">
    <h1 class="accent">Admin</h1>
    <ul class="list container d-flex jcsb"></ul>


  </div>
  <footer>
    <div class="container mt6 p2">
      <div class="authors d-flex jcc">

      </div>
    </div>
  </footer>
</body>

</html>