<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/style.css">
  <script defer type="module" src="../assets/js/main.js"></script>
  <script defer type="module" src="../assets/js/check.js"></script>
  <title>Funny tasks login</title>

</head>

<body>
  <div class="main">
    <h1 class="accent mt6">login</h1>
    <div class="container form__wrap mt6 ">
      <div action="" class="d-flex f-column aic jcc f-wrap g2">
        <input type="text" placeholder="username" id="UserName">
        <input type="password" placeholder="password" id="Password">
        <input type="submit" value="login" id="BtnLogin">
      </div>
      <div class="response mt2 d-flex jcc"></div>
    </div>
  </div>
  <footer>
    <div class="container mt6 p2">
      <div class="authors d-flex jcc">
        <p>Bogdanova Alsu and Barak Tsach</p>
      </div>
    </div>
  </footer>
</body>

</html>