
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/style.css"> 
  <script defer type="module" src="../assets/js/main.js"></script>
  <script defer type="module" src="../assets/js/check.js"></script>
  <title>Funny tasks login</title>

</head>
<body>
	<header>
		<div class="container header__wrap d-flex g2 pt3">
			<a href="/">Home</a>
			<a href="../templates/form.html">Form</a>
		</div>
	</header>
  <h1 class="accent">login</h1>
  <div class="container mt6">
	<form action="">
		<input type="text" placeholder="userName" id="UserName">
		<input type="password" placeholder="password" id="Password">
		<input type="submit" value="login" id="BtnLogin">
	</form>
	<div class="response mt2"></div>
	


  </div>

  
  <script>



  </script>
</body>

</html>