
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/style.css"> 
  <script defer type="module" src="../assets/js/main.js"></script>
  <script defer type="module" src="../assets/js/check.js"></script>
  <title>Funny tasks login</title>

</head>
<body>
	<header>
		<div class="container header__wrap d-flex jcsb g2 pt3">
      <div class="left">
        <a href="/">Home</a>
        <a href="../templates/class.html">Class</a>
      </div>
      <div class="right">
        <a href="#" id="Exit">Exit</a>
      </div>
		</div>
	</header>
  <div class="main">
    <h1 class="accent">Main page</h1>
    <div class="container mt6">
      <div class="about">
		<h2>General description and background</h2>
		<p>Practicing a new subject, or another practice for student learning in an existing subject, is something challenging for both the teacher and the student, mainly because of the study environment that exists in schools today, where teachers do not have the option to check in real time all the homework assignments of all the students, because the classrooms are large and the students' attention Mostly goes to the electronic devices. We come to give a smart and advanced solution, adapted to our time. This solution provides an answer for the education system as well as for the students. We are building a system where the teacher actually has the option to monitor the student's homework on an ongoing basis, as well as create more content and educational tasks for the student and provide criticism and feedback on these tasks online.</p>
		<h2>System goals:</h2>
		<p>Create a platform that will allow teachers to create assignments and track the student's progress, in an online and convenient way. And in addition, to give students an interactive online system that will provide a different and interesting learning experience.</p>
      </div>
	  <div class="gallery">

	  </div>
    </div>
  </div>
  <footer>
		<div class="container mt6 p2">
			<div class="authors d-flex jcc">
				<p>Bogdanova Alsu and Barak Tsach</p>
			</div>
		</div>
	</footer>
</body>

</html>